.breadcrum {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #5e5e5e;
  font-size: 16px;
  font-weight: 600;
  margin: 40px 80px;
  text-transform: capitalize;
}
@media screen and (max-width: 600px) {
  .breadcrum {
    gap: 5px;
    font-size: 10px;
    margin: 25px 15px 0px 15px;
  }
}
